<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #6c3483">

      <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home')}}">ZTF Nuclear Sample
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ml-auto">

              <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('transient_list')}}">All Transients</a>
              </li>

              <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('flaring_transient_list')}}">💥 Flaring Transients</a>
              </li>

              <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('transient_random')}}">Random</a>
              </li>

              <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('flaring_transient_random')}}">💥 Flaring Random</a>
              </li>

              {% if current_user.is_authenticated %}
              <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('list_interesting')}}">Interesting</a>
              </li>
              {% endif %}

            </ul>

            <form action="/search" class="d-flex" method="POST">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
            </form>

            <ul class="nav navbar-nav float-md-right">
               {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
                </li>
              {% endif%}
            </ul>
          </div>
    </div>
  </nav>
