{% extends 'base.html' %}

{% block title %}{{ transient.ztfid }}{% endblock %}

{% block content %}

<div class="sticky-top my-2 py-0" style="background: linear-gradient(to top, rgba(254, 254, 254 ,0.5), rgba(254, 254, 254 , 1 ))">
    <div class="row">
        <div class="col-auto me-auto">
            {% if transient.tns_name != None %}
            <h1> {{ transient.ztfid }} ({{ transient.tns_name }}) </h1>
            {% else %}
            <h1> {{ transient.ztfid }} </h1>
            {% endif %} 
        </div>

        <div class="col-auto my-2">
            <form method="post" action="/rate/{{ transient.ztfid }}" >

                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if transient.get_rating(current_user.username) == 3 %}
                        <button type="submit" class="btn btn-success" value="{{ request.url }}&rating=3&user={{ current_user.username }}" name="rating">
                            Interesting
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-success" value="{{ request.url }}&rating=3&user={{ current_user.username }}" name="rating">
                            Interesting
                        </button>
                    {% endif %}
                    {% if transient.get_rating(current_user.username) == 2 %}
                        <button type="submit" class="btn btn-warning" value="{{ request.url }}&rating=2&user={{ current_user.username }}" name="rating">
                            Maybe
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-warning" value="{{ request.url }}&rating=2&user={{ current_user.username }}" name="rating">
                            Maybe
                        </button>
                    {% endif %}
                    {% if transient.get_rating(current_user.username) == 1 %}
                        <button type="submit" class="btn btn-danger" value="{{ request.url }}&rating=1&user={{ current_user.username }}" name="rating">
                            Boring
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-danger" value="{{ request.url }}&rating=1&user={{ current_user.username }}" name="rating">
                            Boring
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>

        <div class="col-auto my-2">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if flaring == True %}
                <li class="page-item"><a class="page-link" href="/flaring/{{ previous_transient }}" style="color:#6c3483;">Previous</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/transient/{{ previous_transient }}" style="color:#6c3483;">Previous</a></li>
                {% endif %}
                {% if flaring == True %}
                <li class="page-item"><a class="page-link" href="/flaring/{{ next_transient }}" style="color:#6c3483;">Next</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/transient/{{ next_transient }}" style="color:#6c3483;">
                Next</a></li>
                {% endif %}
              </ul>
            </nav>
        </div>


        <div class="col-auto my-2">
          <a class="btn btn-outline-dark" href="http://skipper.caltech.edu:8080/cgi-bin/growth/view_source.cgi?name={{ transient.ztfid }}" target="_blank">
             Growth
          </a>
          <a class="btn btn-outline-dark" href="https://fritz.science/source/{{ transient.ztfid }}" target="_blank">
             Fritz
          </a>
        {% if transient.tns_name != None %}
          <a class="btn btn-outline-dark" href="https://www.wis-tns.org/object/{{ transient.tns_name[2:] }}" target="_blank">
             TNS
          </a>
        {% else %}
        <button type="button" class="btn btn-outline-dark" disabled>TNS</button>
        {% endif %}
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
        <div class="row">
            {% if transient.z != None%}
                    <h5 style="color:#787878;">
                      z: {{ "{:,.4f}".format(transient.z) }} +/- {{ transient.z_precision }} (dist: {{ "{:,.4f}".format(transient.z_dist) }} arcsec) 
                    </h5>
            {% else %}
                    <h5 style="color:#C9C9C9;">
                      z: --- 
                    </h5>
            {% endif %}
        </div>
        <div class="row">
            {% if transient.get_crossmatch_for_viewer() != None %}
                    <h5 style="color:#787878;">
                      Crossmatch: {{ transient.get_crossmatch_for_viewer() }}
                    </h5>
            {% else %}
                    <h5 style="color:#C9C9C9;">
                      Crossmatch: --- 
                    </h5>
            {% endif %}
        </div>
        <div class="row">
            {% if 'fritz_class' in transient.meta.keys() %}
                    <h5 style="color:#787878;">
                      Fritz: {{ transient.meta['fritz_class'] }}
                    </h5>
            {% else %}
                    <h5 style="color:#C9C9C9;">
                      Fritz: ---
                    </h5>
            {% endif %}
        </div>
        <div class="row">
            {% if transient.tde_res_exp != None %}
                    <h5 style="color:#787878;">
                      TDE fit red_chisq: {{ "{:,.3f}".format(transient.tde_res_exp) }}
                    </h5>
            {% else %}
                    <h5 style="color:#C9C9C9;">
                      TDE fit red_chisq: ---
                    </h5>
            {% endif %}
        </div>
        <div class="row">
            {% if transient.salt_res != None %}
                    <h5 style="color:#787878;">
                      SALT fit red_chisq: {{ "{:,.3f}".format(transient.salt_res) }} 
                    </h5>
            {% else %}
                    <h5 style="color:#C9C9C9;">
                      SALT fit red_chisq: --- 
                    </h5>
            {% endif %}
        </div>
        <div class="col">
          <a class="btn btn-primary" href="{{ url_for('static', filename=filename) }}">
             Download light curve
          </a>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <div class="be-comment-block">
                <h5 class="comments-title">Comments ({{ comment_count }})</h5>
                    <div class="be-comment">
                        <div class="be-comment-content">
                            {% for comment in comments %}
                            {% if comment != None %}
                                <div class="row">
                                    <div class="col">
                                        <p class="be-comment-text">
                                            <b>{{ comment['content']['username'] }}</b>: {{ comment['content']['comment'] }}
                                        </p>
                                    </div>
                                    <div class="col">
                                        {% if comment['content']['username'] == current_user.username %}
                                        <form method="post" action="/comment/{{ transient.ztfid }}" >
                                            <button type="submit" class="btn btn-outline-danger btn-sm" value="origin={{ request.url }}&delete={{ comment['timestamp'] }}" name="delete">Delete
                                            </button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
        <form class="form-group" method="post" role="form" action="/comment/{{ transient.ztfid }}">
            <div class="row">
                <div class="col">                                 
                    <input class="form-control form-control-sm" type="text" placeholder="Enter your comment here" name="comment">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark btn-sm" value="{{ request.url }}" name="origin">Submit comment</button>
                </div>
            </div>
        </form>
</div>



  <div class="row justify-content-md-center">
    <img src='data:image/png;base64,{{ lcplot }}' />
  </div">

  {% if plot_irsa == True %}
  <hr>
  <h3 style="color:#787878;">
    IRSA non-difference photometry
  </h5>
  <br>
  <div class="row justify-content-md-center">
    <img src='data:image/png;base64,{{ lcplot_irsa }}' />
  </div">
  {% endif %}

  {% if plot_tde_fit == True %}
  <hr>
  <h3 style="color:#787878;">
    TDE fit result
  </h5>
  <br>
  <div class="container">
      <div class="row">
        <div class="col">
            <div class="row">
                <h5 style="color:#787878;">
                   reduced chisq: {{ "{:,.3f}".format(tde_fitres['chisq'] / tde_fitres['ndof']) }}
                </h5>
            </div>
            <div class="row">
                <h5 style="color:#787878;">
                   t0: {{ "{:,.2f}".format(tde_fitres['paramdict']['t0']) }} (MJD)
                </h5>
            </div>
            <div class="row">
                <h5 style="color:#787878;">
                   risetime: {{ "{:,.0f}".format(10**tde_fitres['paramdict']['risetime']) }} days
                </h5>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h5 style="color:#787878;">
                   decaytime: {{ "{:,.0f}".format(10**tde_fitres['paramdict']['decaytime']) }} days
                </h5>
            </div>
            <div class="row">
                <h5 style="color:#787878;">
                   temperature: {{ "{:,.0f}".format(10**tde_fitres['paramdict']['temperature']) }} K
                </h5>
            </div>
            <div class="row">
                <h5 style="color:#787878;">
                   temp. decay: {{ "{:,.0f}".format(tde_fitres['paramdict']['d_temp']) }} K/day for {{ "{:,.0f}".format(tde_fitres['paramdict']['plateaustart']) }} days
                </h5>
            </div>
        </div>
      </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <img src='data:image/png;base64,{{ lcplot_tde_fit }}' />
  </div">
  {% endif %}

{% endblock %}
