{% extends 'base.html' %}

{% block title %} Transient list {% endblock %}

{% block content %}

<table id="data" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ztfid</th>
            <th scope="col">ra</th>
            <th scope="col">dec</th>
            <th scope="col">z</th>
            <th scope="col">z_dist</th>
            <th scope="col">class</th>
        </tr>
    </thead>
    <tbody>
        {% for transient in transients %}
            <tr>
                <td><a href="{{ url_for('transient_page', ztfid=transient.ztfid)}}" > {{ transient.ztfid }} </a></td>
                <td>{{ "{:,.6f}".format(transient.ra) }}</td>
                <td>{{ "{:,.6f}".format(transient.dec) }}</td>
                {% if transient.z == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(transient.z) }}</td>
                {% endif %}
                {% if transient.z_dist == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(transient.z_dist) }}</td>
                {% endif %}
                {% if 'fritz_class' in transient.meta.keys() %}
                    <td> {{ transient.meta['fritz_class'] }} </td>
                {% else %}
                    <td> --- </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}

{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false}],
      });
    });
  </script>
{% endblock %}