{% extends 'base.html' %}

{% block title %} Transient list {% endblock %}

{% block content %}
<br>

<table id="data" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ztfid</th>
            <th scope="col">Lightcurve</th>
            <th scope="col">z</th>
            <th scope="col">z_dist</th>
            <th scope="col">TNS class.</th>
            <th scope="col">Fritz class.</th>
            <th scope="col">Crossmatch</th>
            <th scope="col">TDE fit</th>
            <th scope="col">SALT fit</th>
        </tr>
    </thead>
    <tbody>
        {% for transient in transients %}
            <tr>
                <td><a href="{{ url_for('transient_page', ztfid=transient.ztfid)}}" > {{ transient.ztfid }} </a></td>
                {% if transient.thumbnail != None %}
                    <td><img src='data:image/png;base64,{{ transient.thumbnail }}' class="img-fluid img-thumbnail"/></td>
                {% else %}
                    <td> --- </td>
                {% endif %}
                {% if transient.z == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(transient.z) }}</td>
                {% endif %}
                {% if transient.z_dist == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ "{:,.5f}".format(transient.z_dist) }}</td>
                {% endif %}
                {% if transient.tns_class == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ transient.tns_class }}</td>
                {% endif %}
                {% if 'fritz_class' in transient.meta.keys() %}
                    <td> {{ transient.meta['fritz_class'] }} </td>
                {% else %}
                    <td> --- </td>
                {% endif %}
                {% if transient.get_crossmatch_info(exclude=['WISE','TNS']) != None %}
                    <td> {{ transient.get_crossmatch_info(exclude=['WISE','TNS']) }} </td>
                {% else %}
                    <td> --- </td>
                {% endif %}
                {% if transient.tde_res == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ "{:,.3f}".format(transient.tde_res) }}</td>
                {% endif %}
                {% if transient.salt_res == None %}
                    <td> --- </td>
                {% else %}
                    <td>{{ "{:,.3f}".format(transient.salt_res) }}</td>
                {% endif %}

            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}

{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        "pageLength": 50,
        columns: [
          null,
          {orderable: true, searchable: false},
          {orderable: false, searchable: false},
          {orderable: true, searchable: false},
          {orderable: false, searchable: true},
          {orderable: false, searchable: true},
          {orderable: false, searchable: true},
          {orderable: true, searchable: false},
          {orderable: true, searchable: false}],
      });
    });
  </script>
{% endblock %}